<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MILISIA IRC</title>
<!---
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
--->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/socket.io.min.js"></script>
<script src="../static/js/jquery.emotions.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<link rel="stylesheet" href="./static/css/tema.css" />

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		// namespace değişkeni ayarlanmalı sunucuyla haberleşme kanal-methot gibi düşünülebilir.
		// Başka namespaceler de tanımlanabilip yeni soketler atanabilir.Çoğul soket yönetimi yapılabilir.Boş da bırakabilirsiniz.
		namespace = '/irc';

		// soket bağlantı değişkeninin atanması.Biçim: http[s]://<domain>:<port>[/<namespace>]
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

		// sunucuya yeni bir bağlantı oluştugunda oluşturulan olay ve yakalanması
		socket.on('connect', function() {
			socket.emit('sunucu_olay', {data: 'Bağlandın!'});
		});

		// sunucunun gönderdiği verinin işlenmesi-yakalanması
		socket.on('sunucu_cevap', function(msg) {
			$('#chatalan').append('<br>' + $('<div/>').text(msg.data).html());
		});
		
		// kanal gönderinin işlenmesi
		socket.on('kanala_gonder_cevap', function(msg) {
			var avatar="";
			var emojiyap=false;
			var gonderen=String(msg.gonderen);
			
			if (msg.gonderen){
				
				if( gonderen.search('(sen)') >= 0){
					$('#gonder_veri').val("");
					avatar="atilla.png"
				}else{
					avatar="avatar2.png"
				}
				
				var icerik=String(msg.data);
				if( icerik.search("tinypic") >= 0 || icerik.search("milis-linux.appspot.com") >= 0 ){
					icerik="<img id='blah' src='"+msg.data+"' alt='yuklenen' />"
				}
				else if( icerik.search("youtube.com/watch") >= 0){
					icerik=icerik.replace("watch?v=","embed/")
					icerik="<iframe id=video width=420 height=315 src='"+icerik+"'?rel=0 frameborder=0 allowfullscreen></iframe>"
				}else{
					emojiyap=true;
					icerik='<div class="chatyazi" ><span>'+icerik+'</span></div>'
				}
				// ayarlı biçimde düzenlenerek mesajın gösterilmesi
				//eski icerik ekleme
				//$('#chatalan').append('<br>' + $('<div/>').text(msg.gonderen+': ').html()+icerik+"<p>");
				
				var yenimesaj='<li class="left clearfix"><span class="chat-img pull-left"> \
				<img src="/static/bootstrap/img/'+avatar+'" alt="User Avatar" class="img-circle" /> \
				</span><div class="chat-body clearfix"><div class="header"> \
				<strong class="primary-font">'+msg.gonderen+'</strong> <small class="pull-right text-muted"> \
				<span class="glyphicon glyphicon-time"></span>'+tarihAl()+'</small></div> \
				<p>'+icerik+'</p></div></li>'
				
				$('#chat').append(yenimesaj);
				if( emojiyap ){
					$(".chatyazi").emotions();
				}
				myscroll = $('.panel-body');
				myscroll.scrollTop(myscroll.get(0).scrollHeight);
				
			}else{
				console.log("gonderen eksik")
			}
		});

		// ping olayı sunucuya ping atıp ping-pong hızı ölçümü
		var ping_pong_times = [];
		var start_time;
		window.setInterval(function() {
			start_time = (new Date).getTime();
			socket.emit('ping_olay');
		}, 1000);

		// sunucunun ping e verdiği cevap işlenmesi (pong)
		socket.on('pong_olay', function() {
			var latency = (new Date).getTime() - start_time;
			ping_pong_times.push(latency);
			ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
			var sum = 0;
			for (var i = 0; i < ping_pong_times.length; i++)
				sum += ping_pong_times[i];
			$('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
		});

		// formdan örnek bir olay gönderimi-sunucu tarafında burda işlenecek metotla gönderilir.socket.on altında işlenir.emit id li form olacak.
		$('form#emit').submit(function(event) {
			socket.emit('sunucu_olay', {data: $('#emit_data').val()});
			return false;
		});
		
		//mesaj gönderme olayı.sorun olursa false döndürülecek.
		$('form#gonder').submit(function(event) {
			socket.emit('kanala_gonder', {data: $('#gonder_veri').val()});
			return false;
		});
		
		$('form#baglantikes').submit(function(event) {
			socket.emit('baglantikes_istegi');
			return false;
		});
	});
	
	function tarihAl() {
		var date = new Date();
		var str = (date.getMonth() + 1) + "-" + date.getDate() + " / " +  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
		//date.getFullYear() + "-" + 
		return str;
	}
	
</script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    
                    <span class="glyphicon glyphicon-comment"></span> Mİ2A2 - MİLİSİA İŞLEVSEL İRC AĞ ARAYÜZÜ
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="#"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat" id="chat">
                    </ul>
                </div>
                <form id="gonder" method="POST" action="#">
                <div class="panel-footer">
                    <div class="input-group">
                        <div class="col-xs-8">
						  <input name="gonder_veri" id="gonder_veri" type="text" class="form-control" placeholder="Mesajınızı buraya yazın..." />
						</div>
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-warning btn-sm" value="Gönder">
                        </span>
                    </div>
                </div>
                </form>
                <p>Ortalama ping hızı: <b><span id="ping-pong"></span>ms</b></p>
            </div>
        </div>
    </div>
</div>
    <!---
    <h2>Log:</h2>
    <div id="log"></div>
    -->
    
</body>
</html>
