<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MILISIA IRC</title>
<!---
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
--->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/socket.io.min.js"></script>
<script src="../static/js/jQueryEmoji.js"></script>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		// namespace değişkeni ayarlanmalı sunucuyla haberleşme kanal-methot gibi düşünülebilir.
		// Başka namespaceler de tanımlanabilip yeni soketler atanabilir.Çoğul soket yönetimi yapılabilir.Boş da bırakabilirsiniz.
		namespace = '/irc';

		// soket bağlantı değişkeninin atanması.Biçim: http[s]://<domain>:<port>[/<namespace>]
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

		// sunucuya yeni bir bağlantı oluştugunda oluşturulan olay ve yakalanması
		socket.on('connect', function() {
			socket.emit('sunucu_olay', {data: 'Bağlandın!'});
		});

		// sunucunun gönderdiği verinin işlenmesi-yakalanması
		socket.on('sunucu_cevap', function(msg) {
			$('#chat').append('<br>' + $('<div/>').text(msg.data).html());
		});
		
		// kanal gönderinin işlenmesi
		socket.on('kanala_gonder_cevap', function(msg) {
			if (msg.gonderen){
				var icerik=String(msg.data);
				if( icerik.search("tinypic") >= 0 || icerik.search("milis-linux.appspot.com") >= 0 ){
					icerik="<img id='blah' src='"+msg.data+"' alt='yuklenen' />"
				}
				else if( icerik.search("youtube.com/watch") >= 0){
					icerik=icerik.replace("watch?v=","embed/")
					console.log(icerik)
					icerik="<iframe id=video width=420 height=315 src='"+icerik+"'?rel=0 frameborder=0 allowfullscreen></iframe>"
				}else{
					//console.log(icerik.Emoji());
					$('.chatsatir').Emoji();
					icerik="<span class=chatsatir>"+icerik+"</span>"
					
				}
				// ayarlı biçimde düzenlenerek mesajın gösterilmesi
				$('#chat').append('<br>' + $('<div/>').text(msg.gonderen+': ').html()+icerik+"<p>");
			}else{
				console.log("gonderen eksik")
			}
		});

		// ping olayı sunucuya ping atıp ping-pong hızı ölçümü
		var ping_pong_times = [];
		var start_time;
		window.setInterval(function() {
			start_time = (new Date).getTime();
			socket.emit('ping_olay');
		}, 4000);

		// sunucunun ping e verdiği cevap işlenmesi (pong)
		socket.on('pong_olay', function() {
			var latency = (new Date).getTime() - start_time;
			ping_pong_times.push(latency);
			ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
			var sum = 0;
			for (var i = 0; i < ping_pong_times.length; i++)
				sum += ping_pong_times[i];
			$('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
		});

		// formdan örnek bir olay gönderimi-sunucu tarafında burda işlenecek metotla gönderilir.socket.on altında işlenir.emit id li form olacak.
		$('form#emit').submit(function(event) {
			socket.emit('sunucu_olay', {data: $('#emit_data').val()});
			return false;
		});
		
		//mesaj gönderme olayı.sorun olursa false döndürülecek.
		$('form#gonder').submit(function(event) {
			socket.emit('kanala_gonder', {data: $('#gonder_veri').val()});
			return false;
		});
		
		$('form#baglantikes').submit(function(event) {
			socket.emit('baglantikes_istegi');
			return false;
		});
	});
	
</script>
</head>
<body>
    <h1>Milisia IRC</h1>
    
    <p>Ortalama ping hızı: <b><span id="ping-pong"></span>ms</b></p>
    <form id="gonder" method="POST" action='#'>
        <input type="text" name="gonder_veri" id="gonder_veri" placeholder="mesajın">
        <input type="submit" value="Gönder">
    </form>
    <p>
	<!---
    <form id="baglantikes" method="POST" action="#">
        <input type="submit" value="Bağlantı Kapat">
    </form>
    -->
    <h2>Pano:</h2>
    <div id="chat" name="chat"></div>
    <!---
    <h2>Log:</h2>
    <div id="log"></div>
    -->
</body>
</html>
